body {
  background-color: #fffaf0;
  margin: 0;
}

header img {
    width: 90px;
    height: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 6%;
    background-color: white;
}

nav a {
    text-decoration: none;
    color: #5b1a1a;
    margin-left: 30px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
  color: #c59b2a;
}
